
main {
    display: flex;
    background-image: url("/Users/skiroyjenkins/Pictures/Forest.jpg");
    height: 145vh;
    font-family: 'Ubuntu', sans-serif;
    color: #e6ee9c; 
    text-shadow: -0.5px -0.5px 0 black,
    0.5px -0.5px 0 black,
    -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; 
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    font-size: 1.3em;
}

.one {
    padding-left: 5em;
    padding-right: 5em;
    max-width: 50%;
}

footer a{
    padding: 2.5em;
}

.page-footer {
    background-color: #9e9d24;
    padding-top: 1.5em;
}
