body {
    height: 100vh;
}
main {
    background-image: url("https://i.imgur.com/0pbADAg.jpg");
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    color: #B3B2B3;
}

.get {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-shadow:
-1px -1px 0 black,
1px -1px 0 black,
-1px 1px 0 black,
1px 1px 0 black; 
}


.fa-twitter-square:before{
    height: 120px;
    width: 120px;
    font-size: 2em;
    padding: 0.2em;
    color: white;
    text-shadow: 6px 10px 3px black;
}

.fa-github:before {
    height: 120px;
    width: 120px;
    font-size: 2em;
    padding: 0.2em;
    color: white;
    text-shadow: 6px 10px 3px black; 
}

.fa-linkedin:before {
    height: 120px;
    width: 120px;
    font-size: 2em;
    padding: 0.2em;
    color: white;
    text-shadow: 6px 10px 3px black;
}

.fa-instagram:before {
    height: 120px;
    width: 120px;
    font-size: 2em;
    padding: 0.2em;
    color: white;
    text-shadow: 6px 10px 3px black;
}

a.fa-instagram:before:hover {
    color: #9e9d24;
}

a.tel {
    color: white;
}

.tel:hover {
    color: #9e9d24;
}

.tel {
    color: #B3B2B3;
}

a.email{
    color: white;
}

.email:hover {
    color: #9e9d24;
}

.email {
    color: #B3B2B3;
}

li {
    padding: 2em; 
}

.page-footer {
    background-color: #9e9d24;
    padding-top: 1.5em;
}

.back {
    padding-left: 30%;
    padding-right: 20%;
    padding-bottom: 5%;
}

footer a{
    padding: 2.5em;
}