body {
    height: 100vh;
}
main {
    background-image: url("/Users/skiroyjenkins/Pictures/CampingBW.jpg");
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h1 {
    text-shadow: 3px 5px 3px black,-1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black; 

}

.Twitter {
    max-height: 120px;
    max-width: 120px;
}

.fa-twitter-square:before{
    height: 120px;
    width: 120px;
    font-size: 2em;
    padding: 0.2em;
    color: white;
    text-shadow: 3px 5px 3px black;
  
}

.fa-github:before {
    height: 120px;
    width: 120px;
    font-size: 2em;
    padding: 0.2em;
    color: white;
    text-shadow: 3px 5px 3px black; 
}

.fa-linkedin:before {
    height: 120px;
    width: 120px;
    font-size: 2em;
    padding: 0.2em;
    color: white;
    text-shadow: 3px 5px 3px black;
}

.fa-instagram:before {
    height: 120px;
    width: 120px;
    font-size: 2em;
    padding: 0.2em;
    color: white;
    text-shadow: 3px 5px 3px black;
}

.tel:hover {
    color: #9e9d24;
}

li {
    padding: 2em; 
}

.page-footer {
    background-color: #9e9d24;
    padding-top: 1.5em;
}

footer a{
    padding: 2.5em;
}