.begining {
    display: flex;
    flex-direction: column; 
    background-image: url("/Users/skiroyjenkins/pictures/profile1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    color: white;

}

.projects {
    height: 100vh;
    background-size: cover;
    background-image: url("https://media.giphy.com/media/2l3BztkS3Kzks/giphy.gif")
}

.cards {
    display: flex;
    flex-direction: row;    
}
.begining h1{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 3px 5px 3px grey;
}

.begining h4 {
    font-family: 'Ubuntu', sans-serif;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black; 

}

.begining h5 {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10vh;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black; 

}

a {
    align-self: center;
    justify-content: flex-end;
}

.begining ul {
    margin-left: 10%;
    margin-top: 5%;
    max-width: 35%;
}

.card {
    width: 30%;
    margin-right: 5vh;
    margin-left: 5vh;
    margin-top: 15vh;   
}

.card-image img {
    height: 35vh;
}


.projects h1{
    color: #e6ee9c  ;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 3px 5px 3px black;
    padding-top: 3vh;
    margin-top: 0;
    text-align: center;
}

.page-footer {
    background-color: #9e9d24;
    padding-top: 1.5em;
}

footer a{
    padding: 1.5em;
}   

#about {
    display: flex;
    background-image: url("/Users/skiroyjenkins/Pictures/Forest.jpg");
    height: 145vh;
    font-family: 'Ubuntu', sans-serif;
    color: #e6ee9c; 
    text-shadow: -0.5px -0.5px 0 black,
    0.5px -0.5px 0 black,
    -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; 
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    font-size: 1.3em;
}

.one {
    padding-left: 5em;
    padding-right: 5em;
    max-width: 50%;
}
