.begining {
    display: flex;
    flex-direction: column; 
    background-image: url("/Users/skiroyjenkins/pictures/profile1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 105vh;
    color: rgb(66, 66, 66);
}

.projects {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#4B4950,whitesmoke) ;
}
.begining h1{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 3px 5px 3px grey, -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 

}

.begining h5 {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10vh;
    text-shadow: -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white; 

}

.begining h6 {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 25vh;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 

}

a {
    align-self: center;
    justify-content: flex-end;
}

.begining ul {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
}

.card {
    width: 100%;
}



